*{
    padding: 0;
    margin: 0;
}
body{
    font-family: sans-serif;
}
/* ---------------------------------------------------------------------------- */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 30px;
}
ul{
    list-style: none;
    display: flex;
}
#nav-lef{
    display: flex;
    align-items: center;
    gap: 80px;
}
.list{
    display: flex;
    align-items: center;
    gap: 40px;
    /* font-size: small; */
    font-size: smaller;
    color: grey;
}
#register-box{
    border: 1px solid black;
    padding: 7px 14px ;
    border-radius: 10px;
}

.item:hover{
    color: black;
    cursor: pointer;
}
/* ---------------------------------------------------------------------------- */
#home{
    display: flex;
    justify-content: space-between;
}
#left{
    /* width: 50%; */
    margin-left: 7%;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#up{
    display: flex;
    flex-direction: column;
    gap: 150px;
}
#definition{
    font-weight: bold;
    font-size: xxx-large;
}
#description{
    color: grey;
}
#btn{
    width: 120px;
    height: 40px;
    color: white;
    background-color: black;
    border-radius: 10px;
}
#btn:hover{
    color: black;
    font-weight: bold;
    background-color: white;
    border-color: black;
    cursor: pointer;
}
#right{
    width: 48%;
    margin-top: 50px;
    margin-right: 7%;
}
#img{
    width: 100%;
}
